{% extends "base.html" %}

{% block body %}
<div class="jumbotron">
  <div class="container">
    <h1>Contact Us</h1>

    <br/>
    
    <a class="btn btn-primary" href="http://www.kom.tu-darmstadt.de/" role="button">Web</a>
    <a class="btn btn-default" href="http://blog.multimedia-communications.net" role="button">Blog</a>
    
    <p><b>Multimedia Communication Labs</b><br/>
    TU Darmstadt <br/>
    Rundeturmstr. 10<br/>
    64283 Darmstadt<br/>
    Germany</p>
  </div>
</div>
{% endblock %}
