{% extends "base.html" %}

{% block body %}
<div class="jumbotron">
  <div class="container">
    <h1>LightMon  </h1>
    <p>LightMon was developed with the consumer centric aim of providing transparency by making detailed information on the
costs of electric lighting easily available.</p>
<span class="label label-primary">Preliminary</span>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">

    <div class="col-lg-3">
      <h2>Cost visibility</h2>
      <p>Additionally our system provides in-
sights in historic usage patterns like usage frequency, the
average switch on durations or total daily usage which are
important parameters for selecting the most energy and cost
efficient lighting technology.</p>
    </div>

    <div class="col-lg-3">
      <h2>Lamp selection</h2>
      <p>
      Additionally our system provides insights in historic usage patterns like usage frequency, the
average switch on durations or total daily usage which are
important parameters for selecting the most energy and cost
efficient lighting technology.
      </p>
    </div>

    <div class="col-lg-3">
      <h2>Fault detection</h2>
      <p>Our system enables the automatic detection and localization of faults in the lighting system like
broken lamps. This reduces the reaction times to faults and
enables more efficient scheduling of maintenance operations.</p>
   </div>

    <div class="col-lg-3">
      <h2>And much more</h2>
      <p>There's of course a lot more you can do with LightMon. Plus, our collected data is freely avaialable for your project.</p>
   </div>


  </div>
</div>
{% endblock %}
